/* ### Import Poppins-font from google ### */

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* ### Type selectors ### */

body {
  margin: 0;
  font-family: 'Poppins';
}

header {
  background-image: url('../images/apple-pie.jpg');
  background-size: cover;
  background-position: center -75px;
  height: 550px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;
  font-weight: 300;
}

section,
hr {
  width: 80%;
}

hr {
  background-color: black;
}

ul {
  list-style-type: none;
}

/* ### Class selectors ### */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ### ID selectors ### */

#recipe {
  margin-top: 70px;
  font-size: 120%;
}

#recipe-info {
  display: flex;
  justify-content: center;
  margin: 35px 0 15px;
}

#recipe-info img {
  width: 40%;
}

#ingredients {
  margin-top: 10px;
}

#ingredients ul li::before {
  content: '- ';
}

#ingredients ul li {
  position: relative;
  left: -25px;
}

#cooking-info {
  display: flex;
  justify-content: center;
  margin: 35px 0 15px;
}

#cooking-info img {
  width: 40%;
}

#directions {
  margin: 10px 0 70px;
}

#directions ol {
  margin-top: 30px;
  padding: 0 16px;
  counter-reset: list;
}

#directions ol > li {
  list-style: none;
}

#directions ol > li:before {
  content: counter(list) ') ';
  counter-increment: list;
}
